* {
    box-sizing: border-box;
}

html {
    /*background color */
    --background-header-buttom: #EC362D;
    --background-caixa-perguntas: #FFFFFF;
    --background-main:#FAFAFA ;

    /*color border*/
    --border-input:#D1D1D1;

    /*font color */
    --font-color-header: #FFFFFF;
    --font-color-subtitulo: #000000;
    --placeholder-color:#BABABA;
    --font-buttom-color:#FFF5F4;


}

main .h-tela3 {
    background-color: var(--background-main);
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    font-weight: 400;


}



section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-header-buttom);
    color: var(--font-color-header);
    width: 100vw;/* 100vw é para se adaptar ao tamanho da tela...irá mostrar toda a largura da tela */
    height: 6.9rem;
}

header h1 {
    font-size: 43px;
    font-weight: 700;
}

.h-tela3 h2 {
    color: var(--font-color-subtitulo);
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 37px;
}


.h-tela3 ul {
    background-color: var(--background-caixa-perguntas);
    width: 375px;
    height: 256px;
    margin-top: 29px;
}

.h-tela3 li {
    display: flex;
    flex-direction: column;  
}

input{
    width: 341px;
    height: 46px;
    margin: 0 18px 9px 16px ;
    border: 1px solid var(--border-input);
    border-radius: 5px;;
}

::placeholder{
    color: var(--placeholder-color);
    font-size: 19px;
    font-style: italic;
    line-height: 22px;
    letter-spacing: 0em;
    padding-left: 14px;
    padding-top: 13px;
}

.criar-pergunta{
    background-color: var(--background-header-buttom);
    width: 324px;
    height: 54px;
    color: var(--font-buttom-color);
    font-size: 18px;   
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 15px;
    border: none;
}